@model IEnumerable<MyMangaLibrary.Models.Manga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @using (Html.BeginForm("DecreaseChapter", "Mangas", new {id = item.ID}))
                {
                    <input class="btn btn-chap btn-sm" type="submit" title="-" value="-" />
                }
                @Html.DisplayFor(modelItem => item.ChapterCount)
                @using (Html.BeginForm("IncreaseChapter", "Mangas", new {id = item.ID}))
                {
                    <input class="btn btn-chap btn-sm" type="submit" title="+" value="+" />
                }
            </td>
            <td>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a class="btn btn-danger btn-sm"asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
